* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

html, body {
  height: 100%;
}

body {
  background-color: #1c334a;
}

p {
  padding-top: 10px;
  text-align: center;
}

.container {
  width: 600px;
  margin: 0 auto;
}

.site-footer, #page-wrapper:after {
  height: 170px;
}

.site-footer {
  color: #202020;
  background: #050505;
  text-align: center;
}

.site-footer h1 {
  padding-top: 20px;
}

.circle {
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.half-circle {
  margin: 0 auto;
  padding: 0;
  background: #fff;
  position: relative;
  bottom: 4px;
  width: 397px;
  height: 192px;
  border-radius: 0  0  50%  50%  / 0   0   100%  100%;
}

.triangle-up {
  margin: 0;
  padding: 0;
	width: 0;
	height: 0;
	border-left: 26px solid transparent;
	border-right: 26px solid transparent;
	border-bottom: 40px solid #fff;
  display: inline-block;
}

.triangle-up.small {
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-bottom: 16px solid #fff;
}

.triangle-up.mid {
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #fff;
}

#customizer {
  position: fixed;
  top: -500px;
  color: transparent;
  background: transparent;
  border: 0;
}

#page-wrapper {
  min-height: 100%;
  margin-bottom: -170px;
}

#page-wrapper:after {
  content: '';
  display: block;
}

#card {
  height:85vh;
  padding-top: 15vh;
  background-color: #71b7ff;
}

#egg {
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 500px;
  background: #fff;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius: 50%  50%  50%  50%  / 60%   60%   40%  40%;
}

#inhabitant {
  display: none;
  padding-top: 70px;
}

#inhabitant-cover {
  z-index: 50;
  position: relative;
  bottom: 205px;
}

#inhabitant .body {
  width: 300px;
  height: 400px;
  margin: 0px auto;
}

#chicken, #creepy, #foos, #heart, #ljackson, #spray, #owl, #surf, #harry,
#cohanovius, #theatre, #deer, #thai, #tank {
  display: none;
}

#chicken {
  width: 300px;
  height: 400px;
  background: #fffa71;
  -webkit-border-radius: 63px 63px 63px 63px / 108px 108px 72px 72px;
  border-radius: 50%  50%  50%  50%  / 60%   60%   40%  40%;
}

#creepy {
  width: 300px;
  height: 400px;
  position: relative;
  bottom: 150px;
}

#left_eye {
  display: inline-block;
  margin: 80px 5px 0 0;
	background: #fff;
  width: 60px;
	height: 60px;
}

#right_eye {
  display: inline-block;
  margin: 80px 0 0 5px;
	background: #fff;
  width: 60px;
	height: 60px;
}

#left_pupil {
	background: #060606;
  width: 50px;
	height: 50px;
  margin: 4px;
}

#right_pupil {
	background: #060606;
  width: 50px;
	height: 50px;
  margin: 4px;
}

#beak {
	width: 0;
	height: 0;
  margin: 5px auto;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-top: 40px solid #e22f00;
  -moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
}

#heart {
  position: relative;
  left: -56px;
  top: -10px;
}

#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 210px;
  top: 0;
  width: 210px;
  height: 350px;
  background-color: #bf6262;
  -moz-border-radius: 140px 140px 0 0;
  border-radius: 140px 140px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
